@import "@/styles/variables.scss";

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: -webkit-fill-available;
  pointer-events: none;
  user-select: none;
  z-index: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  @include for-phone {
    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }
  }

  .checkerboard {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 33%;
    height: calc(100% - var(--top-bar-height));
    pointer-events: none;
    user-select: none;
    z-index: 1;
    opacity: 0.75;

    @include for-phone {
      display: none;
    }
  }

  .fruits {
    position: fixed;
    bottom: 5%;
    left: 0;
    height: 60px;
    width: 100vw;
    z-index: 0;
    background-color: $color-teal;
    background-image: url($cdn-url + "/images/fruits.png");
    background-size: 200px 56px;
    background-repeat: repeat-x;
    background-position: 0 2px;
    pointer-events: none;
    user-select: none;

    animation: stream 25s linear infinite;

    @keyframes stream {
      0% {
        background-position: 0 2px;
      }

      100% {
        background-position: 50vw 2px;
      }
    }

    @include for-phone {
      bottom: auto;
      top: calc(var(--top-bar-height) + 2%);
      opacity: 0.5;
    }
  }
}
