@import "@/styles/variables.scss";

.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font;
  cursor: pointer;
  background-color: $color-white;
  border: 0.8rem solid $color-teal;
  padding: 1rem 3rem;
  border-radius: 3rem;
  color: $color-teal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  gap: 0.6rem;
  text-align: center;

  @include for-phone {
    padding: 1rem;
    border-radius: 2rem;
    border: 0.4rem solid $color-teal;
    font-size: 2rem;
  }

  @include for-short-desktop {
    padding: 1rem;
    border-radius: 2rem;
    border: 0.4rem solid $color-teal;
    font-size: 2rem;
  }

  &:disabled {
    cursor: default;
  }

  &:hover,
  &:focus {
    background-color: $color-teal;
    color: $color-white;
  }
}
