@import "@/styles/variables.scss";

.can {
  height: 90%;
  z-index: 2;

  video,
  img {
    height: 115%;
    margin-top: -10%;
    width: 100%;
    pointer-events: none;
    user-select: none;
    object-fit: cover;
  }

  img {
    filter: drop-shadow(0 0 2rem rgba($color-white, 0.5));
    animation: float 10s linear infinite;

    @keyframes float {
      0% {
        filter: drop-shadow(0 0 2rem rgba($color-white, 0.5));
        transform: translateY(0) rotate(2deg);
      }

      50% {
        filter: drop-shadow(0 0 1rem rgba($color-teal, 0.75));
        transform: translateY(-1%) rotate(-1deg);
      }

      100% {
        filter: drop-shadow(0 0 2rem rgba($color-white, 0.5));
        transform: translateY(0) rotate(2deg);
      }
    }
  }

  .background {
    position: fixed;
    z-index: -1;
    width: auto;
    height: 200vh;
    left: -25%;
    top: -25%;
    transform: rotate(-30deg);
    filter: hue-rotate(0deg) blur(10px) contrast(3) saturate(2);
    opacity: 0.2;
    animation: hueRotate 5s linear infinite;

    @keyframes hueRotate {
      0% {
        filter: hue-rotate(0deg) blur(10px) contrast(3) saturate(2);
      }

      100% {
        filter: hue-rotate(360deg) blur(10px) contrast(3) saturate(2);
      }
    }
  }

  @include for-phone {
    height: 90%;
    z-index: 1;
    overflow: hidden;

    video,
    img {
      height: 100%;
      margin-top: 0;
    }

    .background {
      left: -150%;
    }
  }
}
