@font-face {
  font-family: "Hydrophilia Iced";
  src: url("/fonts/hydrophilia-iced.ttf") format("truetype");
}

@font-face {
  font-family: "Alte Haas Grotesk Regular";
  src: url("/fonts/alte-haas-grotesk-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Orbitron Black";
  src: url("/fonts/orbitron-black.ttf") format("truetype");
}

@font-face {
  font-family: "Alte Haas Grotesk Bold";
  font-weight: bold;
  src: url("/fonts/alte-haas-grotesk-bold.ttf") format("truetype");
}

$main-font: "Alte Haas Grotesk Regular", sans-serif;
$main-font-bold: "Alte Haas Grotesk Bold", sans-serif;
$pixel-font: "Hydrophilia Iced", monospace;
