@import "@/styles/variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --top-bar-height: 120px;

  @include for-phone {
    --top-bar-height: 80px;
  }

  @include for-short-desktop {
    --top-bar-height: 80px;
  }
}

body {
  max-width: 1920px;
  font-family: $main-font;
  font-size: 22px;
  margin: auto;
}

main {
  position: relative;
  z-index: 1;
  margin-top: var(--top-bar-height);
}

a {
  color: inherit;
  text-decoration: none;
}
