@import "@/styles/variables.scss";

.home-mobile {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: -webkit-fill-available;

  @include for-phone {
    display: block;
  }

  .can {
    display: flex;
  }

  .info {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    z-index: 2;
    gap: 1rem;

    .item {
      transition: transform ease 0.2s;

      &:hover {
        transform: scale(1.2);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 140px;
      }
    }
  }

  .boosts {
    position: fixed;
    top: 0;
    right: 0.2rem;
    width: 25vw;
    height: 100%;
    padding: 1.4rem;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-width: 100px;
      margin: auto;
      display: flex;
    }
  }

  .soon {
    position: fixed;
    top: calc(var(--top-bar-height) + 1rem);
    left: 0;
    z-index: 1;
    width: 100%;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.8rem;
    padding: 0.4rem;
    text-align: center;
    font-family: $secondary-font;
    z-index: 1;
    opacity: 0.5;
  }
}
