@import "@/styles/variables.scss";

.home {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  height: calc(100vh - $top-bar-height);
  padding: 1rem;

  @include for-phone {
    grid-template-columns: 100%;
    grid-template-rows: 100vh 100vh;
    padding: 0.6rem;
  }

  .can {
    display: flex;
    align-items: center;
    justify-content: center;

    @include for-phone {
      align-items: flex-start;
    }
  }

  .lead {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    text-align: justify;
    translate: -10%;
    z-index: 2;

    p {
      all: unset;
      font-family: $main-font-bold;
      font-size: 2rem;
      letter-spacing: -0.5px;

      @include for-phone {
        font-size: 1.4rem;
      }

      @include for-short-desktop {
        font-size: 1.6rem;
      }
    }

    button {
      margin-right: auto;
      min-width: 350px;
    }

    @include for-phone {
      translate: 0;
      z-index: 1;
      flex-direction: column-reverse;
      padding: 250px 0;

      button {
        position: absolute;
        top: -33vh;
        left: 0;
        min-width: auto;
        width: calc(100% - 4.8rem);
        margin: 0;
        margin-top: -5rem;
        translate: 0;
      }
    }
  }

  .hotline {
    position: fixed;
    bottom: 0;
    right: 0;
    filter: drop-shadow(0 20px 0 $color-black);
  }
}
