@import "@/styles/variables.scss";

.home-mobile {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: -webkit-fill-available;

  @include for-phone {
    display: block;
  }

  .can {
    display: flex;
  }

  .buy {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    margin-bottom: 5vh;
  }

  .info {
    position: fixed;
    bottom: 120px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    z-index: 4;
    gap: 1rem;
    pointer-events: none;

    .item {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 140px;

        @include for-phone {
          max-width: 100px;
        }

        @include for-small-phone {
          max-width: 60px;
        }
      }
    }

    @include for-phone {
      padding-bottom: 1.4rem;
    }

    @include for-small-phone {
      padding: 0;
      padding-bottom: 0.4rem;
    }
  }

  .boosts {
    position: fixed;
    top: 0;
    right: 0.2rem;
    width: 25vw;
    height: 100%;
    padding: 1.4rem;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-width: 100px;
      margin: auto;
      display: flex;
    }
  }

  .soon {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    button {
      user-select: none;
      width: 100%;
      padding: 1rem 0;
      font-size: 1.4rem;
      white-space: nowrap;

      &:nth-child(2) {
        padding: 0.4rem 0;
        font-size: 1rem;
        color: $color-white;
        background-color: rgba(darken($color-teal, 10%), 0.5);
      }
    }
  }
}
