@import "@/styles/variables.scss";

.home-desktop {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  height: calc(100vh - var(--top-bar-height));
  max-height: -webkit-fill-available;
  padding: 1rem;

  @include for-phone {
    display: none;
  }

  .marquee {
    position: fixed;
    top: var(--top-bar-height);
    left: 0;
    width: 100%;
  }

  .can {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    translate: -10%;
    z-index: 2;

    @include for-narrow-desktop {
      translate: -5%;
    }

    p {
      all: unset;
      font-family: $main-font-bold;
      font-size: 2rem;
      line-height: 2.2rem;
      letter-spacing: -0.5px;
      padding: 0 2rem;
      text-shadow: 0 0 0.4rem rgba($color-dark, 0.1);

      @include for-large-desktop {
        line-height: 2.4rem;
      }

      @include for-short-desktop {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }

      @include for-thin-desktop {
        font-size: 1.4rem;
        line-height: 1.6rem;
        padding: 0 1rem;
      }
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-height: 100px;
      margin-bottom: 2rem;

      @include for-thin-desktop {
        margin-bottom: 1rem;
      }

      .item {
        display: flex;
      }

      img {
        max-width: 206px;
        width: 100%;
        height: auto;
        object-fit: contain;
        padding: 2rem;
        margin: auto;
        transition: transform ease 0.2s, filter ease 0.2s;
        filter: none;

        @include for-short-desktop {
          padding: 1rem 2rem;
          max-height: 100px;
        }

        @include for-thin-desktop {
          padding: 1rem 2rem;
          max-height: 100px;
        }
      }

      @include for-short-desktop {
        max-height: 80px;
      }
    }

    .buy {
      margin-top: 2rem;
      margin-left: 2rem;
      margin-right: auto;

      width: 100%;

      button {
        &:nth-child(2) {
          margin-top: 8px;
          margin-left: 7rem;
          margin-right: auto;
          padding: 1rem 0;
          width: 50%;
          font-size: 1.6rem;
          color: $color-white;
          background-color: rgba(darken($color-teal, 10%), 0.5);
        }
      }

      @include for-short-desktop {
        &.soon {
          padding-top: 0rem;

          button {
            padding: 0.2rem 2rem;
            font-size: 1.6rem;
            margin-left: 0;
          }
        }
      }

      @include for-thin-desktop {
        margin-top: 1rem;
        margin-left: 1rem;

        &.soon {
          padding-right: 4rem;
          padding-top: 1rem;

          button {
            border-width: 0.4rem;
            padding: 0.4rem 1rem;

            font-size: 2rem;

            &:nth-child(2) {
              width: auto;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
