@import "@/styles/variables.scss";

.panel {
  color: $color-dark;
  background-color: $color-white;
  border: 0.8rem solid $color-teal;
  padding: 3rem;
  border-radius: 3rem;

  border: 0;
  background-color: transparent;

  @include for-phone {
    padding: 1.6rem;
    border-radius: 2rem;
  }
}
