@import "@/styles/variables.scss";

.policy {
  position: relative;
  padding: 2rem;

  @include for-phone {
    padding: 0.6rem;
  }

  .title {
    font-family: $main-font-bold;
    text-align: center;
    margin-bottom: 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $color-white;
    border-radius: 0.6rem;
    padding: 1rem;

    li {
      margin-left: 4rem;
    }

    a {
      color: $color-teal;
      text-shadow: 2px 2px 0px rgba($color-dark, 0.5);
    }
  }
}
